/*@media print{
    thead{display:table-header-group;}
}*/
/*@media print{thead{display:table-header-group; margin-bottom:10px;}}*/
/*@page{margin-top:40cm;margin-left:1cm;margin-right:1cm;margin-bottom:1.5cm;}*/
table#invoice-amount td, table#invoice-amount th, div{border-width:0.05mm !important}

.section_footer {
    display: none;
}
thead {
    display:table-header-group; 
}
body {
  -webkit-print-color-adjust: exact;
}
tbody {
    height: 100%
}
table { display: table }
tfoot {
    display: table-footer-group; 
    /*display: table-footer-group;*/ 
    /*margin-bottom:10px;*/
    /*height:100%;*/
    vertical-align:bottom;
}
